.BuildControls {
    width: 100%;
    background-color: #cc80db;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px rgb(170, 170, 170);
    margin: auto;
    padding: 10px 0;
}

.OrderButton {
    background-color:  #a0cedf;
    outline: none;
    cursor: pointer;
    border: 1px solid #ecabec;
    color: #d674d6;
    font-weight: bolder;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px rgb(170, 170, 170);
}

.OrderButton:hover, .OrderButton:active {
    background-color: #c9dfe7;
    border: 1px solid #ecabec;
    color:#40A4C8;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}